<mat-grid-list cols="{{cols}}" rowHeight="15vh" gutterSize="0px" id="parent-grid">
<mat-grid-tile [colspan]="cols">
  <h1 class="subtitle">David Anderson</h1>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let i of [0,1,2,3]">
    <!-- <mat-grid-tile> -->
      <p>Section {{i+1}}</p>
    <!-- </mat-grid-tile> -->
  </mat-grid-tile>
</mat-grid-list>

<style>
  #parent-grid {
    margin: 0;
  }
  .mat-grid-tile {
    background-color: rgb(238, 238, 238);
    text-align: center;
    border-radius: 5px;
  }
</style>

