<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Reach me via email :
        </p>
        <a class="email-a" href="mailto:david.anderson281@yahoo.co.uk">
            <p class="email">david.anderson281@yahoo.co.uk</p>
        </a>
        <br>
        <p>Also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/davidanderson281" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/davidanderson281/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>