<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <h1>David Anderson</h1>
        <p>Hard-working software developer with over seven years experience in a professional development environment.
            Excellent communication skills and improving leadership skills as a result of line management and team
            supervision duties. A proven problem solver and always has a pragmatic approach to issues. Evidently played
            a key role with clients due to several major application launches and positive impact on important services.
        </p>
        <h2>Education</h2>
            <div class="education-block">
                <h3>University of Strathclyde</h3>
            </div>
        <h2>Experience</h2>
        <h2>Skills</h2>
    </div>
</div>